.greetings{
    margin-top: 50px;
    &__content {
        width: 1032px;
        height: 306px;
        background-image: url("../image/content/greetings.png");
    }
    &__row {
        padding-top: 85px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        img {       
            align-self: flex-end;
        }
    }
    &__heading {
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 20px;
    }
    &__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.8);
        span {
            color: #FF974C;
        }
        margin-bottom: 46px;
    }
}